[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/GriffithsLab/griffithslab-hugo-academic-theme
[submodule "data"]
	path = data
	url = https://github.com/GriffithsLab/LabNotebook_Data
